<script type='text/template' id='establishment_autocomplete_template'>
  <div class='establishment-autocomplete-item media'>
    <figure class='establishment-image media-left'>
      {{#if establishment.image }}
        <img src='{{establishment.image}}' class="thumbnail no-marginb" />
      {{ else }}
        <img src='<%= image_path("noimage/mini.png") %>' class="thumbnail no-marginb" />
      {{/if}}
    </figure>

    <div class='establishment-details media-body'>
      <h5 class="establishment-name media-heading">{{establishment.name}}</h5>
      {{#if establishment.option_values}}
        {{#each establishment.option_values}}
          <strong>{{this.option_type_presentation}}:</strong> {{this.presentation}}<br/>
        {{/each}}
      {{/if}}
      <strong><%= Gesmew.t(:sku) %>:</strong> {{establishment.sku}}
    </div>
  </div>
</script>
