<nav class="navbar navbar-default" id="top-nav-bar">
  <div class="container-fluid">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
      <li id="auth-bar" data-hook>
      </li>
    </ul>
  </div>
</nav>
