<div data-hook="homepage_info">
  <div class="jumbotron">
        <h1>Soiety & Welfare Department</h1>
        <p>This is a mock of the society and welfare portal site.</p>
        <p>
          <%= link_to 'Head to the employee Area', gesmew.admin_path, class:'btm btn-lg btn-primary' %>
        </p>
      </div>
</div>
