<script type='text/template' id='establishment_autocomplete_template'>
  <div class='establishment-autocomplete-item media'>
    <div class='establishment-details media-body'>
      <h5 class="establishment-name media-heading">{{establishment.name}}</h5>
      <strong><%= Gesmew.t(:owner_fullname) %>:</strong>
      {{establishment.owner_name}}
    </div>
  </div>
</script>
