<%= render partial: "gesmew/admin/users/autocomplete", formats: :js %>

<div id="add-user" data-hook class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= Gesmew.t(:add_inspector) %></h1>
  </div>
  <div class="panel-body">
    <div data-hook="add_user_name" class="form-group">
      <%= label_tag :add_user_id, Gesmew.t(:name) %>
      <%= hidden_field_tag :add_user_variant_id, "", class: "user_autocomplete fullwidth-input" %>
    </div>

    <div id="stock_details"></div>
  </div>
</div>
