<div id="select-establishment" data-hook class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= Gesmew.t(:select_establishment) %></h1>
  </div>
  <div class="panel-body">
    <div data-hook="add_user_name" class="form-group">
      <% establishment_array =  Gesmew::Establishment.all.map {|establishment| [establishment.name,establishment.id]} %>
      <%= label_tag  :establishment_id, Gesmew.t(:establishment) %>
      <%= select_tag :establishment_id, options_for_select(establishment_array),{:include_blank => true, :class => 'select2 js-filterable fullwidth-input'} %>
    </div>
  </div>
</div>
