<div id="select-establishment" data-hook class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= Gesmew.t(:select_establishment) %></h1>
  </div>
  <div class="panel-body">
    <div data-hook="select_establishment_name" class="form-group">
      <%= label_tag  :select_establishment_id, Gesmew.t(:establishment) %>
      <%= hidden_field_tag :select_establishment_id, "", class: "establishment_autocomplete fullwidth-input" %>
    </div>
  </div>
</div>
