<% content_for :page_title do %>
  <%= Gesmew.t(:taxons) %>
<% end %>

<div class="taxon-products-view">
  <div class="form-group">
    <%= text_field_tag :taxon_id %>
  </div>

  <ul id="taxon_products" class="taxon"></ul>

  <%= render :partial => "gesmew/admin/products/autocomplete", :formats => :js %>
</div>
