<script type='text/template' id='user_autocomplete_template'>
  <div class='inspector-autocomplete-item media'>
    <div class='inspector-details media-body'>
      <h5 class="inspector-name media-heading">
        {{inspector.name}}
      </h5>
      <strong>{{inspector.email}}</strong

    </div>
  </div>
</script>
