<script type='text/template' id='inspection_scope_autocomplete_template'>
  <div class='inspection-scope-autocomplete-item media'>
    <div class='inspection-scope-details media-body'>
      <h5 class="inspection-scope-name media-heading">{{inspection_scope.name}}</h5>
      <strong><%= Gesmew.t(:description) %>:</strong>
      {{inspection_scope.description}}
    </div>
  </div>
</script>
